html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

section {
  padding-top: 128px;
  position: relative;
}

section::before {
  z-index: -1;
  content: "";
  font-size: 72px;
  color: #636362;
  position: absolute;
  font-weight: 700;
  top: 50px;
  left: -30px;
}

#home {
  background: linear-gradient(to right, #ffffff, #f0f0f0);
}

#about {
  background: linear-gradient(to right, #e9ecef, #f8f9fa);
}

#project {
  background: linear-gradient(to right, #ffffff, #e9ecef);
}

#contact {
  background: linear-gradient(to right, #e9ecef, #f8f9fa);
}

.navbar {
  background-color: #cacaca;
  box-shadow: 0px 2px 10px rgba(75, 59, 54, 0.8);
}

.navbar-brand,
.nav-link {
  color: #000000;
}

.navbar-brand:hover {
  color: #3e3d3b;
}

.btn.button {
  border: 3px solid #000000;
  border-radius: 24px;
  color: #000000;
}

.btn.button:hover,
.btn.button.active {
  border: 3px solid #000000;
  background-color: #000000;
  color: #868b80;
}

.btn.button:hover {
  background-color: #3e3d3b;
  color: #ffffff;
  transition: all 0.3s ease;
}

.home {
  margin-bottom: 128px;
}

.home img {
  border-radius: 50%;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.home h1 {
  font-size: 72px;
  color: #000000;
}

.home h3 {
  font-size: 48px;
  color: #000000;
}

.home p {
  color: #000000;
}

.custom-text {
  color: #000000;
}

.about {
  padding-top: 128px;
  margin-bottom: 128px;
}

.about::before {
  content: "About";
}

.about-exp-item {
  margin-top: 32px;
}

.about-exp-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-exp-item-detail {
  display: none;
}

.project::before {
  content: "Project Overview";
}

.project {
  margin-bottom: 128px;
  padding-top: 128px;
}

.carousel-inner {
  border: 5px solid #cacaca;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.carousel-inner img {
  transition: transform 0.5s ease;
}

.carousel-inner img:hover {
  transform: scale(1.05);
}

.social-icon {
  width: 24px;
  height: auto;
  margin-left: 8px;
  vertical-align: middle;
}

.social-icon2 {
  width: 35px;
  height: auto;
  vertical-align: middle;
}

.contact {
  padding-bottom: 128px;
}

.contact::before {
  content: "Contact";
}

.contact .contact-form {
  display: none;
}

.contact-info {
  background-color: #ffffff;
  border-radius: 12px;
  margin-top: 80px;
  margin-left: 25px;
  padding: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-icon {
  width: 40px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.contact-icon:hover {
  transform: scale(1.1);
}

.contact-message {
  font-size: 1.1rem;
  color: #495057;
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .home .row {
    flex-direction: column-reverse;
    align-items: center;
  }
  .home h1,
  .home h3 {
    text-align: center;
  }
}
